ftd/autogen/** linguist-vendored=true
ftd/config/** linguist-vendored=true
ftd/.cproject linguist-vendored=true
ftd/.project linguist-vendored=true
ftd/ftd.pintool linguist-vendored=true
ftd/ftd.slcp linguist-vendored=true
ftd/ftd.slps linguist-vendored=true