STK3700_project/autogen/** linguist-vendored=true
STK3700_project/config/** linguist-vendored=true
STK3700_project/.cproject linguist-vendored=true
STK3700_project/.project linguist-vendored=true
STK3700_project/ftd.pintool linguist-vendored=true
STK3700_project/ftd.slcp linguist-vendored=true
STK3700_project/ftd.slps linguist-vendored=true